
.root{
    -fx-background-color: #F5F7FA;
    -fx-font-family: "Segoe UI";
}

/* Menu */

.menu-bar{
    -fx-background-color: #1565C0;
}

.menu .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Boutons */

.button{

    -fx-background-color: #1976D2;

    -fx-text-fill: white;

    -fx-font-size: 14px;

    -fx-font-weight: bold;

    -fx-background-radius: 12;

}

.button:hover{

    -fx-background-color: #0D47A1;

    -fx-cursor: hand;

}

/* Labels */

.label{

    -fx-text-fill: #263238;

    -fx-font-size: 14px;

    -fx-font-weight: bold;

}

/* TextField */

.text-field{

    -fx-background-radius: 8;

    -fx-border-radius: 8;

    -fx-border-color: #B0BEC5;

}

/* ComboBox */

.combo-box{

    -fx-background-radius: 8;

    -fx-border-radius: 8;

    -fx-border-color: #B0BEC5;

}

/* DatePicker */

.date-picker{

    -fx-background-radius: 8;

    -fx-border-radius: 8;

    -fx-border-color: #B0BEC5;

}

/* TextArea */

.text-area{

    -fx-background-radius: 8;

    -fx-border-radius: 8;

    -fx-border-color: #B0BEC5;

}

/* Table */

.table-view{

    -fx-background-color: white;

    -fx-border-color: #CFD8DC;

    -fx-border-radius: 10;

}

.table-view .column-header{

    -fx-background-color: #1565C0;

}

.table-view .column-header .label{

    -fx-text-fill: white;

    -fx-font-weight: bold;

}

.table-row-cell{

    -fx-cell-size: 35;

}

.table-row-cell:selected{

    -fx-background-color: #BBDEFB;

}

/* SplitPane */

.split-pane{

    -fx-background-color: #F5F7FA;

}

/* Footer */

.hbox{

    -fx-background-color: #1565C0;

}

.hbox .label{

    -fx-text-fill: white;

}